/* ================ [ GLOBAL ] ================ */
/* ================ [ GLOBAL ] ================ */

html, body {
  font-family: 'Avenir Next', sans-serif;
  color: #FBFBFB;
  font-weight: 500;
}


.wrapper {
  background: #121212;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
.container {
  max-width: 1250px;
  padding: 0 10px;
  margin: 0 auto;
  height: 100%;
}

.burger {
  display: none;
}

.main__sections{
  padding: 120px 0px;
}

.main__popular{
  padding-bottom: 120px;
}


/* ================ [ HEADER ] ================ */
/* ================ [ HEADER ] ================ */

.header {
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33.5px 0px;
  border-bottom: 2px solid rgba(251, 251, 251, 0.3);
}
.header__start{
  display: flex;
  align-items: center;
}
.language{
  margin-right: 52px;
}
.language-btn {
  color: #FBFBFB;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.language {
  position: relative;
  display: inline-block;
  padding: 0px 5px 0px 16px;
}
.language-btn::before{
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: url(../images/heder_ru.svg) no-repeat;
  width: 12px;
  height: 12px;
  display: block;
}
.language-btn::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url(../images/planet__icons.svg) no-repeat;
  width: 16px;
  height: 16px;
  display: block;
}

.language-content {
  display: none;
  position: absolute;
  min-width: 100%;
  overflow: auto;
  z-index: 1;
}

.language-content a {
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.show {display: block;}
.header__logo {
  margin-right: 15px;
}
.header__medium{
  display: flex;
  align-items: center;
}
.search {
  position: relative;
}
.search__input {
  width: 390px;
  font-size: 18px;
  font-weight: 400;
  background: #FBFBFB;
  border-radius: 50px;
  padding: 11px 30px;
  color: rgba(18, 18, 18, 0.7);
  margin-right: 30px;
}
.search__button {
  display: block;
  background: url(../images/search__icon.svg) no-repeat 100% / 100%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: calc(50% - 12px);
  right: 50px;
}
.header__social {
  margin-right: 15px;
}
.header__social-list {
  display: flex;
}
.header__social-item {
  margin-right: 15px;
}
.header__social-item:last-child {
  margin-right: 0px;
}
.header__social-link {

}
.header__btn-box {
  display: flex;
  align-items: center;
}
.header__btn-favorites {
  margin-right: 15px;
}
.header__btn-user {

}


/* ================ [ SECTIONS ] ================ */
/* ================ [ SECTIONS ] ================ */

.main__sections {
}
.sections {
}
.container {
}
.sections__inner {
}
.sections__heading {
  border-bottom: 3px solid #FB8CFD;
  display: inline-block;
  margin-bottom: 55px;
}
.sections__heading-title {
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 10px;
}
.sections__content {
}
.sections__content-nav {
  margin-bottom: 33px;
}
.sections__content-list {
  display: flex;
  justify-content: space-between;
}
.sections__content-item {
  flex-basis: 23%;
}
.sections__content-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FBFBFB;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.03em;
  border-radius: 10px;
  color: #121212;
  height: 250px; 
}
.sections__content-img{
}
.sections__btn-full {
  display: inline-block;
  text-align: center;
  background: #FBFBFB;
  border-radius: 10px;
  width: 100%;
  padding: 19px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  margin-bottom: 139px;
}
.ads{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: #FBFBFB;
  font-size: 40px;
  line-height: 55px;
  color: #000000;
}


/* ================ [ POPULAR ] ================ */
/* ================ [ POPULAR ] ================ */


.main__popular {
}
.popular {
}
.container {
}
.popular__inner {
}
.popular__heading {
  border-bottom: 3px solid #FB8CFD;
  display: inline-block;
  margin-bottom: 60px;
}
.popular__heading-title {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 10px;
}
.popular__grid {
  display: grid;
  grid-template: repeat(2, auto) / repeat(4, 1fr);
  gap: 52px 31px;
  margin-bottom: 64px;
}

.popular__grid-item {
  border-radius: 10px;
}
.popular__grid-link{
  border-radius: 10px;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
}
.popular__img-box {
  position: relative;
  height: 330px;
  border-radius: 10px;
}
.popular__grid-img {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.popular__img-effect {
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  padding: 52px 0px 30px 0px;
  background: url(../images/Frame.png) 50% 50% / cover no-repeat;
  width: 100%;
}
.popular__img-effect-text {
  margin-left: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
}

.popular__button {
  min-width: 100%;
  text-align: center;
}

.popular__fuul-btn {
  display: inline-block;
  background: linear-gradient(114.17deg, #FB8CFD 74.81%, #FB73EC 88.75%, #FC50FF 105.84%);
  border-radius: 50px;
  font-size: 18px;
  line-height: 25px;
  color: #121212;
  padding: 14.5px 68px;
}


/* ================ [ FOOTER ] ================ */
/* ================ [ FOOTER ] ================ */

.footer {
  padding: 120px 0px 0px 0px;
}
.footer__inner {
  padding-top: 43px;
  padding-bottom: 32px;
  border-top: 2px solid rgba(251, 251, 251, 0.3);
}
.footer__top {
  max-width: 455px;
  margin: 0px auto 64px;
}
.footer__top-list {
  display: flex;
  justify-content: space-between;
}
.footer__top-elem {
  font-size: 16px;
  line-height: 22px;
  position: relative;
  padding-left: 40px;
}
.footer__top-elem:first-child {
  padding: 0px;
}
.footer__top-elem-email::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url(../images/footer_mail.svg) no-repeat;
  width: 33px;
  height: 33px;
  display: block;
}
.footer__top-elem-tg::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url(../images/footer_tg.svg) no-repeat;
  width: 33px;
  height: 33px;
  display: block;
}
.footer__top-text {
}
.footer__top-link {
}
.footer__bottom {
}
.footer__bottom-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}