@media(max-width:1000px){
    .search__input{
		width: 250px;
	}
}
@media(max-width:900px){
    .popular__grid{
        grid-template: repeat(6, auto) / repeat(3, 1fr);
        gap: 52px 31px;
    }
}
@media(max-width:850px){
    .search__input{
		display: none;
	}
    .main__sections{
        padding: 60px 0px;
    }
    .main__popular{
        padding: 60px 0px;
    }
    .popular__grid{
        margin-bottom: 30px;
    }
    .sections__content-list{
        justify-content: center;
        flex-flow: wrap;
        gap: 20px 20px;
    }
    .sections__content-item{
        flex-basis: 250px;
    }
}
@media(max-width:650px){
    .popular__grid{
        grid-template: repeat(6, auto) / repeat(2, 1fr);
        gap: 22px 22px;
    }
}
@media(max-width:600px){
    .header__inner{
		padding: 16px 0px 8px 0px;
	}
	.header__start{
		width: 100%;
		justify-content: space-between;
		flex-direction: row-reverse;
	}
	.language{
		margin: 0;
	}
	.header__social, .search__button, .header__btn-box{
		display: none;
	}
    .footer{
		padding: 32px 0px 16px 0px;
	}
}
@media(max-width:570px){
    .sections__content-item{
        flex-basis: 200px;
    }
    .sections__content-link{
        height: 200px;
    }
}
@media(max-width:500px){
    .main__sections {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .sections__heading{
        margin-bottom: 24px;
    }
    .sections__heading-title{
        font-size: 25px;
    }
    .sections__btn-full{
        padding: 12px ;
        font-size: 15px;
        margin-bottom: 32px;
    }

    .sections__heading{
        margin-bottom: 24px;
    }
    .popular__heading{
        margin-bottom: 24px;
    }
    .popular__heading-title{
        font-size: 25px;
    }
    .popular__img-box{
        height: 250px;
    }
    .popular__grid-img{
        height: 250px;
    }
    .popular__img-effect{
        padding: 40px 0px;
    }

    .popular__img-effect-text{
        font-size: 15px;
        margin-left: 10px;
    }
    .popular__grid{
        margin-bottom: 24px;
    }
    .popular__fuul-btn{
        width: 100%;
        font-size: 14px;
        padding: 11px;
    }
    .footer__top-list{
		flex-direction: column;
		align-items: center;
	}
	.footer__top-text{
		margin-bottom: 12px;
	}
	.footer__top-elem{
		margin-bottom: 14px;
	}
	.footer__top-elem:last-child{
		margin: 0;
	}
}
@media(max-width:470px){
    .sections__heading-title{
        font-size: 18px;
    }
    .sections__content-item{
        flex-basis: 180px;
    }
    .sections__content-link{
        font-size: 12px;
        height: 180px;
    }
    .sections__content-img{
        width: 35px;
    }

}
@media(max-width:420px){
    .sections__content-list{
        gap: 10px 10px;
    }
    .sections__content-item{
        flex-basis: 150px;
    }
    .sections__content-link{
        height: 140px;
    }
    .popular__img-box{
        height: 190px;
    }
    .popular__grid-img{
        height: 190px;
    }
}
@media(max-width:350px){

    .sections__content-item{
        flex-basis: 140px;
    }
    .popular__img-effect-text{
        font-size: 12px;
    }
    
}
@media(max-width:330px){
    .sections__content-item{
        flex-basis: 135px;
    }
    .sections__content-link{
        height: 135px;
    }
}