@media(max-width:1100px){
	.subscribe__grid{
		grid-template: repeat(5, auto) / repeat(3, 1fr);
	}
}
@media(max-width:1000px){
	.search__input{
		width: 250px;
	}
	.user__img-box{
		margin-right: 75px;
	}
	.personalshopping__grid{
		grid-template: repeat(5, auto) / repeat(3, 1fr);
	}
	.personalfavorites__grid{
		grid-template: repeat(5, auto) / repeat(3, 1fr);
	}
}
@media(max-width:850px){
	.search__input{
		display: none;
	}
	.user{
		flex-direction: column;
	}
	.user__img-box{
		margin: 0px 0px 40px 0px;
		max-width: 392px;
	}

	.personalshopping__grid{
		grid-template: repeat(6, auto) / repeat(2, 1fr);
		gap: 20px 20px;
	}
	.personalfavorites__grid{
		grid-template: repeat(6, auto) / repeat(2, 1fr);
		gap: 20px 20px;
	}
	.subscribe__grid{
		grid-template: repeat(6, auto) / repeat(2, 1fr);
		gap: 20px 20px;
	}
}
@media(max-width:600px){
	.header__inner{
		padding: 16px 0px 8px 0px;
	}
	.header__start{
		width: 100%;
		justify-content: space-between;
		flex-direction: row-reverse;
	}
	.language{
		margin: 0;
	}
	.header__social, .search__button, .header__btn-box{
		display: none;
	}
	.main__privateoffice{
		padding: 32px 0px 32px 0px;
	}
	.userinfo__heading{
		margin-bottom: 24px;
	}
	.userinfo__body{
		margin-bottom: 24px;
	}
	.personalactions__heading{
		margin-bottom: 24px;
	}
	.personalshopping__grid{
		margin-bottom: 32px;
	}
	.personalfavorites__grid{
		margin-bottom: 32px;
	}
	.personalshopping__img-box{
		height: 250px;
	}
	.personalshopping__grid-img{
		height: 250px;
	}
	.personalfavorites__img-box{
		height: 250px;
	}
	.personalfavorites__grid-img{
		height: 250px;
	}
	.subscribe__grid{
		grid-template: repeat(6, auto) / repeat(1, 1fr);
		gap: 0px 0px;
	}

	.footer{
		padding: 32px 0px 16px 0px;
	}
	.footer__top{

	}
}
@media(max-width:500px){
	.userinfo__name{
		font-size: 22px;
		line-height: 30px;
	}
	.userinfo__synopsis{
		font-size: 14px;
		line-height: 19px;
	}
	.userinfo__editdata{
		font-size: 13px;
		line-height: 18px;
	}

	.personalactions__title{
		font-size: 18px;
		line-height: 25px;
	}


	.personalshopping__grid{
		margin-bottom: 32px;
	}
	.personalfavorites__grid{
		margin-bottom: 32px;
	}
	.personalshopping__img-box{
		height: 190px;
	}
	.personalshopping__grid-img{
		height: 190px;
	}
	.personalshopping__img-effect{
		padding: 10px 0px;
	}
	.personalshopping__img-effect-text{
		font-size: 12px;
		margin-left: 8px;
	}
	.personalfavorites__img-box{
		height: 190px;
	}
	.personalfavorites__grid-img{
		height: 190px;
	}
	.personalfavorites__img-effect{
		padding: 10px 0px;
	}
	.personalfavorites__img-effect-text{
		font-size: 12px;
		margin-left: 8px
	}

	.subscribe__title{
		font-size: 26px;
	}
	.subscribe__subtitle{
		font-size: 15px;
	}
	.subscribe__days{
		font-size: 20px;
	}
	.subscribe__btn-payment{
		font-size: 14px;
	}
	.subscribe__btn-cancel{
		font-size: 14px;
	}

	.footer__top-list{
		flex-direction: column;
		align-items: center;
	}
	.footer__top-text{
		margin-bottom: 12px;
	}
	.footer__top-elem{
		margin-bottom: 14px;
	}
	.footer__top-elem:last-child{
		margin: 0;
	}
}
@media(max-width:450px){
	.user__img-box{
		flex-basis: auto;
		height: 300px;
	}
	.user__avatar{
		height: 300px;
	}
}
@media(max-width:400px){

}
@media(max-width:350px){

}