@media(max-width:1000px){
	.search__input{
		width: 250px;
	}
    .section__nav{
        margin-bottom: 25px;
    }
    .section__grid{
        display: grid;
        grid-template: repeat(4, auto) / repeat(3, 1fr);
        gap: 21px 21px;
        margin-bottom: 24px;
    }
    .section__filter{
        margin-bottom: 25px;
    }
    .section__heading{
        margin-bottom: 25px;
    }
}
@media(max-width:850px){
	.search__input{
		display: none;
	}
}
@media(max-width:880px){
	
}
@media(max-width:600px){
	.header__inner{
		padding: 16px 0px 8px 0px;
	}
	.header__start{
		width: 100%;
		justify-content: space-between;
		flex-direction: row-reverse;
	}
	.language{
		margin: 0;
	}
	.header__social, .search__button, .header__btn-box{
		display: none;
	}
    .section__grid{
        display: grid;
        grid-template: repeat(4, auto) / repeat(2, 1fr);
        gap: 21px 21px;
        margin-bottom: 24px;
    }
    .footer{
		padding: 32px 0px 16px 0px;
	}
	.footer__top{

	}
}
@media(max-width:500px){
    .section__heading-title{
        font-size: 25px;
    }
    .section__filter-btn{
        font-size: 18px;
    }
    .section__sorting-btn{
        font-size: 18px;
    }
    .section__img-effect-text{
        font-size: 18px;
    }
    .section__number{
        font-size: 20px;
    }
    .footer__top-list{
		flex-direction: column;
		align-items: center;
	}
	.footer__top-text{
		margin-bottom: 12px;
	}
	.footer__top-elem{
		margin-bottom: 14px;
	}
	.footer__top-elem:last-child{
		margin: 0;
	}
}
@media(max-width:450px){
    .section__img-box{
        height: 250px;
    }
    .section__grid-img{
        height: 250px;
    }
    .section__img-effect{
        padding: 8px 0px;
    }
    .section__img-effect-text{
        margin-left: 8px;
        font-size: 12px;
    }
    .section__heading-title{
        font-size: 20px;
    }
    .section__filter-btn{
        margin-right: 16px;
        font-size: 16px;
    }
    .section__sorting-btn{
        font-size: 16px;
    }
    .section__number{
        font-size: 18px;
    }
}
@media(max-width:400px){
    .section__img-box{
        height: 190px;
    }
    .section__grid-img{
        height: 190px;
    }
}